@use "../config" as *;

.footer {
  @include make-spacer(mb, 6);

  &__wrapper {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    grid-gap: rem(32px);

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, auto);
      align-items: flex-start;
      grid-gap: rem(32px) rem(64px);
    }

    @include media-breakpoint-up(md) {
      grid-auto-flow: column;
      justify-content: space-between;
    }
  }

  &__intentify {
    @include flex(center, center, column);

    gap: rem(16px);

    @include media-breakpoint-up(md) {
      @include flex(center, flex-start);
    }
  }

  &__logo {
    @include flex(center, center);
  }

  &__icon {
    @include size(rem(150px), rem(41px));
  }

  &__rules {
    @include font-size(15px, 24px);

    color: var(--gray-3);
    font-weight: 300;
  }

  &__connection {
    @include flex(center, center, column);
    @include font(var(--weight-regular), 17px, 26px, "heading");

    gap: rem(8px);
    text-align: center;

    @include media-breakpoint-up(md) {
      @include flex(center, flex-start);
    }

    @include media-breakpoint-up(xl) {
      @include font-size(21px, 32px);
    }
  }

  &__copyright {
    @include font-size(15px, 24px);
    @include flex(center, center, column);

    gap: rem(8px);
    font-weight: 300;

    @include media-breakpoint-up(md) {
      @include flex(center, flex-start);
    }
  }
}
