@use "../config" as *;

.pagination {
  @include make-spacer(mt, 4);
  @include make-spacer(mb, 13);
  @include make-spacer(mb, 22, md);

  &__wrapper {
    @include make-spacer(mx, auto);
    @include make-spacer(my, 0);
    @include flex(space-between, center, row, nowrap);

    gap: rem(16px);
    max-width: rem(312px);

    @include media-breakpoint-up(sm) {
      max-width: rem(350px);
    }
  }

  &__items {
    @include flex(center, center);

    gap: rem(8px);
  }

  &__item {
    @include flex(center, center);
    @include font(600, 17px, 30px);
    @include size(rem(56px), rem(56px));
    @include transition(#{color, border-color}, 0.3s);

    color: var(--gray-dark);
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--black);
    }

    &--active {
      color: var(--white);
      border: 1px solid var(--grey-dark);
      background-color: var(--grey-dark);
      pointer-events: none;
    }

    &--inactive {
      cursor: default;

      &:hover {
        border: 1px solid transparent;
      }
    }
  }

  &__button {
    @include flex(center, center);
    @include transition(transform);

    &:hover {
      transform: scale(1.3);
    }

    &--disabled {
      pointer-events: none;

      &:hover {
        transform: none;
      }
    }
  }

  &__icon {
    @include size(rem(32px), rem(32px));

    fill: var(--grey-dark);

    &--inactive {
      @include size(rem(32px), rem(32px));

      fill: var(--gray-3);
    }

    &:last-child {
      transform: rotate(180deg);
    }
  }
}
