.icon-arrow-pagination {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chevron-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-letter {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 4.41em;
  height: 1em;
  fill: initial;
}
.icon-news {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.icon-services-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-services-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-services-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
