@use "../config" as *;

.article {
  @include make-spacer(mt, 22, md);

  margin-top: rem(200px);
  display: block;
  overflow: visible;
  border-radius: 10px 10px 0 0;
  background-color: var(--white);
  position: relative;
  z-index: 3;

  @include media-breakpoint-up(md) {
    border-radius: 0;
    background-color: transparent;
  }

  &-top {
    width: 100%;

    &__title {
      @include font-size(26px, 36px);
      @include make-spacer(mt, 3);
      @include make-spacer(mb, 5);
      @include make-spacer(mt, 4, xl);
      @include make-spacer(mb, 7, xl);

      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        @include font-size(56px, 68px);
      }
    }

    &__img {
      @include size(100%, auto);
      @include make-spacer(mt, 3);
      @include make-spacer(mb, 4);
      @include make-spacer(mb, 0, lg);

      display: block;
      overflow: hidden;
      border-radius: 10px;
      font-size: 0;

      img {
        @include size(100%, auto);
      }
    }
  }

  &-author {
    @include flex();
    @include make-spacer(my, 4);
    @include make-spacer(pt, 2);
    @include make-spacer(pb, 3);
    @include make-spacer(my, 7, lg);
    @include make-spacer(py, 3, xl);

    border-top: 2px solid rgba(#000, 0.1);
    border-bottom: 2px solid rgba(#000, 0.1);

    &__img {
      @include size(rem(64px));

      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;

      img {
        @include size(100%);

        object-fit: cover;
      }
    }

    &__info {
      @include make-spacer(ml, 1);

      display: grid;
      gap: rem(4px) 0;

      @include media-breakpoint-up(md) {
        @include flex(flex-start, flex-start, row, wrap);

        flex-grow: 1;
        height: rem(48px);
      }
    }

    &__title {
      @include font(600, 15px, 24px);

      @include media-breakpoint-up(md) {
        width: 80%;
      }
    }

    &__position {
      @include font(400, 15px, 24px);

      @include media-breakpoint-up(md) {
        width: 80%;
      }
    }

    &__data {
      @include font(600, 15px, 24px);

      color: var(--gray-3);

      @include media-breakpoint-up(md) {
        @include flex(flex-end);

        width: 20%;
      }
    }
  }

  &__content {
    @include make-spacer(mt, 10);
    @include font-size(21px, 32px);
    @include flex(center, flex-start, column);

    @include media-breakpoint-up(lg) {
      @include flex(space-between, flex-start, row);

      align-items: flex-start;
    }

    &_left {
      width: 100%;
      position: relative;
      align-self: flex-start;
      height: fit-content;
      z-index: 10;

      @include media-breakpoint-up(md) {
        top: 120px;
      }

      @include media-breakpoint-up(lg) {
        position: sticky;
        top: rem(140px);
        width: auto;
        flex-shrink: 0;
      }
    }

    &_center {
      @include make-spacer(mx, auto);

      width: 100%;
      max-width: rem(640px);
      flex-shrink: 0;
    }
  }

  &-tags {
    @include make-spacer(my, 8);

    @include media-breakpoint-up(md) {
      @include flex(flex-start, center);
    }

    &__title {
      @include font(700, 21px, 30px, 'heading');
      @include make-spacer(mb, 3);
      @include make-spacer(mb, 0, md);
      @include make-spacer(mr, 3, md);
    }

    &__wrap {
      @include flex(flex-start, flex-start, row, wrap);

      gap: rem(18px);
    }
  }

  section {
    scroll-margin-top: rem(140px);
  }
}