@use "../config" as *;

.contact-form {
  @include make-spacer(mt, 15);
  @include make-spacer(mb, 12);
  @include make-spacer(mt, 17, md);
  @include make-spacer(mt, 22, xl);
  @include make-spacer(mb, 15, xl);

  .has-error {
    color: var(--red);
  }

  .container {
    position: relative;
  }

  &__wrapper {
    @include make-spacer(pt, 12);
    @include make-spacer(pt, 19, md);

    position: relative;
  }

  &__banner {
    @include font-size(21px, 32px);
    @include make-spacer(px, 2);
    @include make-spacer(px, 3, md);
    @include make-spacer(py, 3);
    @include make-spacer(py, 5, md);

    width: auto;
    position: absolute;
    inset: auto rem(24px) 92% rem(24px);
    z-index: 2;
    background-color: var(--accent);
    border-radius: rem(10px);
    color: var(--white);
    max-width: rem(590px);

    @include media-breakpoint-up(md) {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }

  &__bg {
    @include make-spacer(mx, 0, md);
    @include size(auto, rem(360px));

    // background: url("../../img/feedback_bg.jpg") center no-repeat;
    position: absolute;
    inset: 0 rem(-24px) auto rem(-24px);
    border-radius: rem(10px);
    overflow: hidden;
    z-index: 0;

    video,
    img {
      @include size(100%);

      object-fit: cover;
      object-position: top left;
    }

    @include media-breakpoint-up(md) {
      @include size(auto, rem(370px));

      inset: 0 0 auto 0;
    }

    @include media-breakpoint-up(xl) {
      background-size: cover;
    }
  }

  &__form {
    @include make-spacer(px, 3);
    @include make-spacer(pt, 6);
    @include make-spacer(pb, 4);
    @include make-spacer(mx, 8, md);
    @include make-spacer(px, 7, md);
    @include make-spacer(pt, 9, md);
    @include make-spacer(pb, 8, md);
    @include make-spacer(mx, 9, xl);
    @include make-spacer(px, 10, xl);
    @include make-spacer(pt, 13, xl);
    @include make-spacer(pb, 10, xl);
    @include make-spacer(mx, 11, xxl);

    position: relative;
    background-color: var(--white);
    border-radius: rem(8px);
    overflow: hidden;
    box-shadow: 0 2px 30px rgba(175, 168, 220, 0.15);
    z-index: 1;

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template: 1fr auto / rem(326px) 1fr;
      grid-gap: 0 rem(24px);
    }

    @include media-breakpoint-up(xl) {
      grid-template: 1fr auto / 1fr 1fr;
      justify-content: space-between;
      align-items: start;
      gap: rem(40px);
    }

    &--loading {
      .contact-form__status--loading {
        @include flex(center, center, column);
      }
    }

    &--loaded {
      .contact-form__status--loaded {
        @include flex(center, center, column);
      }
    }

    &--failed {
      .contact-form__status--failed {
        @include flex(center, center, column);
      }
    }
  }

  &__headline {
    @include make-spacer(mb, 6);

    position: relative;
    font-weight: var(--weight-regular);
    font-family: var(--font-family-title);
    text-transform: uppercase;

    &::after {
      @include size(100%, 4px);

      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--accent);
      content: '';
    }
  }

  &__actions {
    @include media-breakpoint-up(md) {
      grid-row: 1/3;
      grid-column: 2/3;
    }
  }

  &__inputs {
    @include make-spacer(mb, 3);
    @include make-spacer(mb, 4, md);
    @include flex($direction: column);

    gap: rem(48px);
  }

  &__checkbox {
    @include make-spacer(mb, 2);
    @include make-spacer(mb, 3, md);
  }

  &__button {
    @include make-spacer(mt, 3);
    @include make-spacer(mt, 4, md);
    @include make-spacer(ml, auto, md);
  }

  &__running {
    @include make-spacer(mt, 5);
    @include make-spacer(m, 0, md);
    @include size(auto, rem(30px));
    @include font(600, 17px, 30px);

    overflow: hidden;
    position: relative;
    z-index: 1;

    &::before {
      @include size(rem(69px), 100%);
      @include position(absolute, 0, auto, 0, 0);

      background: linear-gradient(270deg, #FFFFFF 17.95%, rgba(255, 255, 255, 0) 86.77%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      z-index: 3;
      content: '';
    }

    &::after {
      @include size(rem(117px), 100%);
      @include position(absolute, 0, 0, 0, auto);

      background: linear-gradient(270deg, #FFFFFF 17.95%, rgba(255, 255, 255, 0) 86.77%);
      z-index: 3;
      content: '';
    }

    .marquee {
      @include size(auto);
      @include position(absolute, 0, auto, auto, 100%);

      overflow: hidden;
      white-space: nowrap;
      animation: marqueeMob 20s linear infinite;
      z-index: 2;

      @include media-breakpoint-up(sm) {
        animation: marquee 20s linear infinite;
      }
    }

    @include media-breakpoint-up(md) {
      @include size(rem(380px), rem(30px));
    }

    @include media-breakpoint-up(xl) {
      @include font(700, 32px, 42px);
      @include size(rem(500px), rem(42px));
    }
  }

  &__status {
    @include make-spacer(p, 3);
    @include font-size(40px, 50px);

    display: none;
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1;
    text-align: center;
    background-color: var(--white);
  }

  &__title {
    @include make-spacer(mt, 2);
    @include font-size(26px, 36px);

    font-weight: var(--weight-bold);
  }

  &__subtitle {
    @include make-spacer(mt, 3);
    @include font-size(15px, 24px);

    font-weight: var(--weight-regular);
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }

  100% {
    left: -160%;
  }
}

@keyframes marqueeMob {
  0% {
    left: 100%;
  }

  100% {
    left: -200%;
  }
}