@use "../config" as *;

.text-block {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--accent);
    text-transform: uppercase;
  }

  h1 {
    @include make-spacer(mb, 5);

    text-align: center;

    @include media-breakpoint-up(md) {
      @include font-size(40px, 50px);
    }
  }

  h2 {
    @include make-spacer(mt, 5);
    @include make-spacer(mb, 2);

    @include media-breakpoint-up(md) {
      @include font-size(32px, 42px);
    }
  }

  h3 {
    @include font(300, 26px, 32px, 'heading');
    @include make-spacer(mb, 6);
  }

  p {
    @include font-size(15px, 24px);
    @include make-spacer(my, 1);

    color: var(--gray-5);
    font-weight: 300;

    @include media-breakpoint-up(md) {
      @include font-size(21px, 32px);
    }
  }

  ul,
  ol {
    @include make-spacer(my, 1);
    @include make-spacer(pl, 3);
    @include font-size(15px, 24px);

    list-style-type: disc;

    @include media-breakpoint-up(md) {
      @include font-size(21px, 32px);
    }
  }

  img {
    @include size(100%, rem(320px));

    display: block;
    object-fit: cover;
    z-index: 1;

    @include media-breakpoint-up(sm) {
      border-radius: rem(10px);
    }

    @include media-breakpoint-up(md) {
      @include size(100%, rem(370px));
    }
  }
}