@import "hero-section";
@import "slider";
@import "contact-form";
@import "news-preview";
@import "about";
@import "text";
@import "services";
@import "vertically";
@import "news";
@import "top-block";
@import "article-top-bg";
@import "article";
@import "article-quote";
@import "article-banner";
@import "article-image";
@import "article-aside";
@import "text-block";
@import "section";
@import "banner-text";
