@use 'sass:math';
@use 'mixins/rem-converter' as *;

@forward 'functions';
@forward 'mixins/breakpoints';
@forward 'mixins/flexbox';
@forward 'mixins/position';
@forward 'mixins/rem-converter';
@forward 'mixins/size';
@forward 'mixins/spacing';
@forward 'mixins/transition';
@forward 'mixins/word-break';
@forward 'mixins/font-face';
@forward 'mixins/type';

@mixin smooth-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-button {
  margin: 0;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
  width: auto;
  overflow: visible;
}

@mixin absolute-center($args...) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) $args;
}

@mixin font-size($size: 16px, $height: $size) {
  line-height: math.div($height, $size);
  font-size: rem($size);
}

@mixin stroke($width, $color, $text-color) {
  -webkit-text-stroke-width: $width;
  -webkit-text-stroke-color: $color;
  color: $text-color;
}

@mixin font($weight, $size, $line-height, $family: 'regular') {
  @if $family == 'regular' {
    font: $weight #{$size}/#{$line-height} var(--font-family-regular);
  }

  @if $family == 'heading' {
    font: $weight #{$size}/#{$line-height} var(--font-family-title);
  }
}
