:root {
  --white: #fff;
  --white-dark: #f5f5f5;
  --gray: #f9f9f9;
  --gray-2: #a5a5a5;
  --gray-3: #8b8b8b;
  --gray-4: #303030;
  --gray-5: #1e1e1e;
  --blue: #6a5ad0;
  --blue-light: #897ce2;
  --red: #eC7676;

  --black: #120D0E;
  --maroon: #7B2630;

  --grey-light: #F1F1F1;
  --grey-mid: #CAC8C5;
  --grey-dark: #6F6A69;
  --grey-dark: #6F6A69;
  --accent: var(--maroon)
}
